.content-body{
  background-color: white;
  padding: 25px;
}

.card{
  display: flex;
  margin: 0 12px;
  padding: 15px 0px;
  background-color: white;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.card-thumbnail{
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 25px;
  flex: 0 0 15%;
}

.card-content{
  width: 100%;
  flex: 0 0 75%;
}

.card-content a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}



.cardSquareList{
  display: flex;
  flex-wrap: wrap;
}

.card-squareContainer{
  flex: 0 0 50%;
  transition: .5s;
}

.card-squareContainer:hover{
  transform: scale(1.1);
  transition: .5s;
}

.card-square{
  padding: 12px;
}

.card-squareContent{
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -5px 1px 12px rgb(197, 197, 197);
  height: 360px;
}

.card-squareContent img{
  width: 100%;
}

.card-squareContent h3, .card-squareContent p{
  padding: 0 10px;
}
