.Header{
  max-width: 768px;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.Logo{
  width: 100%;
  height: auto;
}

.Logo img{
  width: 150px;
}

.Nav{
  height: 48px;
}

/* .More-Categories{

} */

/*scrolled*/

.scrolled{
  background-color: #ffb300;
  min-width: 768px;
  z-index: 1;
  position: fixed;
  animation: moveDown 0.5s ease-in-out;
  box-shadow: 0 0 12px rgba(105, 105, 105);
  border-radius: 0 0 5px 5px;
}


@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}