.Header{
  max-width: 768px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.upperSectionNavbar{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 0 12px;
}

.upperSectionNavbar img{
  width: 75px;
  height: auto;
}

.upperSectionNavbar a{
  padding: 12px 0;
}

.Nav{
  max-width: 768px;
  height: 64px;
}

/* .More-Categories{

} */

/*scrolled*/

.scrolled .Nav{
  background-color: white;
  min-width: 768px;
  z-index: 1;
  position: fixed;
  box-shadow: 0 0 12px rgba(105, 105, 105);
  border-radius: 0 0 5px 5px;
}

/* .scrolled .upperSectionNavbar{
  display: none;
} */


@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}